/bin
/Common/bin/
/Common/obj/
*.dll

/Common/bin/Debug/Common.dll

*.user

*.cache

 
Policy.Pet.Models/bin/
 
Policy.Pet.Models/obj/
 
Policy.Pet.Provider/bin/
 
Policy.Pet.Provider/obj/
 
Policy.Pet.Tests/bin/
 
Policy.Pet.Tests/obj/
 
Policy.Pet/bin/
 
Policy.Pet/obj/
 
Policy.Pets.IntegrationTests/bin/
 

 build/
 node_modules/
 obj/
 src/_all.js
 *.js.map
 src/app.js
 src/app.js.map
 src/configs/*.js
 src/controllers/*.js
 src/services/*.js
 test/unit/services/*.js
 vendor/
Policy.Pets.Web/src/client/**/*.js
Common/obj

Policy.Pets.Web/src/client/app/**/*.js.map

Policy.Pets.IntegrationTests/obj/

Policy.Pets.Web/.tmp

bin/
bower_components/
node_modules/
Policy.Pets.Web/obj/
packages/
Policy.Pets.Web/report/
Policy.Pets.Web/report/